<footer class="site-footer" data-footer>
  <div class="footer-grid">
    <span><%- md_inline((config.footer || {}).left || '') %></span>
    <span><%- md_inline((config.footer || {}).right || '') %></span>
  </div>
</footer>
